/* dashbord */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}
p {
  margin: 0px;
  padding: 5px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: gray;
}

body::-webkit-scrollbar-thumb {
  background-color: #f2b05c;
}

/**** Side Navbar ****/

.page-container {
  display: grid;
  grid-template-columns: 275px 1fr;
}

.side-nav {
  width: 275px;
  min-height: 100vh;
  background-color: rgba(245, 245, 245, 0.075);
}

.sidenav-link {
  padding: 7px 18px;
  background-color: #deedfe;
  margin: auto;
  margin-bottom: 10px;
  font-weight: 600;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  color: #0d6efd;
  cursor: pointer;
  font-size: 14px;
}

.navlink-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidenav-link:hover {
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.side-nav span {
  display: inline-block;
}

.nav-arrow {
  width: 20px;
  display: inline-block;
  transition: transform 200ms ease;
}

.nav-arrow-change {
  transform: rotate(-180deg);
  transition: transform 200ms ease;
}

.inner-nav {
  border-left: 4px solid gray;
  margin-bottom: 10px;
  display: none;
}

.inner-nav-active {
  display: block;
}

.inner-nav-link {
  color: gray;
  font-size: 14px;
  font-weight: 600;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 15px;
}
.text-hover:hover {
  color: #3751ff;
}

.inner-nav-link:hover {
  border-left: 4px solid #f2b05c;
  margin-left: -4px;
  padding-left: 17px;
  text-decoration: none;
  background-color: #f6fffe;
}

.mobile-menu {
  width: 30px;
}
/**** Main Dashboard Contents ****/
/* CSS of airticket.html start */
main {
  margin: 20px 0 20px 0;
}
/* search flight section starts  */

.search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #deedfe;
  border: 1px solid #3751ff;
  margin-top: 53px;
  border-radius: 10px;
  padding: 10px;
  padding-top: 30px !important;
  padding-bottom: 53px !important;
  position: relative;
}

.form-select {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
}

.depart-span {
  color: #3751ff;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 700px;
  border-radius: 40px;
  margin-bottom: 20px;
}
.button-group > div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  height: 40px;
  width: 95%;
}
.oneway {
  border-radius: 40px 0 0 40px;
  background-color: #fff;
  color: black;
}
.oneway-clicked {
  border-radius: 40px 0 0 40px;
  background-color: #0d6efd;
  color: white;
}
.roundtrip {
  background-color: #fff;
  color: black;
}
.roundtrip-clicked {
  background-color: #0d6efd;
  color: white;
}
.muticity {
  border-radius: 0 40px 40px 0;
  background-color: #fff;
  color: black;
}
.muticity-clicked {
  border-radius: 0 40px 40px 0;
  background-color: #0d6efd;
  color: white;
}

.destination-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #333; */
  width: 90%;
  height: 100px;
  position: relative;
}

.destination-wrapper > div {
  background-color: white;
}
.from,
.to {
  padding-left: 10px;
  height: 65px;
  width: 25%;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  color: #999;
  font-size: 12px;
  line-height: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-top: 5px;
  cursor: pointer;
}
.from-text,
.to-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.from-input {
  border: none;
  background-color: transparent;
  padding-left: 5px;
  font-weight: 500;
  height: 35px;
}
input {
  outline: none;
}
.depart-on,
.cabin-class {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  height: 65px;
  width: 25%;
  border: 1px solid #0d6efd;
  border-radius: 5px;
  color: #999;
  font-size: 12px;
  line-height: 10px;
  margin-right: 10px;
  padding-left: 20px;
  cursor: pointer;
}
.cabin-class {
  position: relative;
}
.text-title {
  font-size: 14px;
  color: black;
}

.destination-wrapper .visevarsa {
  height: 40px;
  width: 40px;
  background-color: #0d6efd;
  border-radius: 50%;
  position: absolute;
  top: 28%;
  left: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: none;
}

.search-box {
  background-color: #0d6efd;
  width: 180px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  border-radius: 20px;
  margin: 30px auto 0;
}

.location-icon {
  filter: invert(31%) sepia(50%) saturate(3319%) hue-rotate(207deg)
    brightness(97%) contrast(106%);
  width: 25px;
}

.date-icon {
  filter: invert(31%) sepia(50%) saturate(3319%) hue-rotate(207deg)
    brightness(97%) contrast(106%);
  width: 25px;
  cursor: pointer;
}
.flight-icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(306deg)
    brightness(102%) contrast(102%);
  width: 25px;
  font-weight: 900;
  cursor: pointer;
}

.search-icon {
  position: absolute;
  width: 15px;
  top: 8px;
  left: 5px;
  z-index: 100;
}
/* when i click passenger and cabin section the this div will show starts  */
.cabin-class-collapse-wrapper {
  height: 300px;
  width: 300px;
  background-color: rgb(223, 223, 223);
  border-radius: 5px;
  position: absolute;
  top: 110%;
  right: 0;
}
/* when i click passenger and cabin section the this div will show ends  */

/* jaquery datepicker custom style starts */

.dateBox {
  width: 200px;
  height: auto;
  border: 1px solid blue;
}

/* datepicker input style starts */
#datepicker {
  border: none;
  font-size: 16px;
}
/* datepicker input style ends */

/* jQuery UI Datepicker Styles */
/* states and images */
* {
  margin: 0;
  padding: 0;
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* Overlays */
.ui-widget-overlay {
  position: relative;
  width: 100%;
  height: 100%;
}
.ui-datepicker {
  position: relative;
  width: 500px;
  height: auto;
  padding: 0;
  display: none;
  margin: 20px 0 0 23px;
  top: 321.812px !important;
  left: 914.312px !important;
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: 0.2em 0;
  background: #f8f8f8;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 5px;
  width: 1.1em;
  height: 0.9em;
}

.ui-datepicker .ui-datepicker-prev {
  left: 2px;
  top: 7px;
  background: url(../img/datepickerArrow.png) top no-repeat;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
  background: url(../img/datepickerArrow.png) bottom no-repeat;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
  font-size: 0.7em;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 45%;
}
.ui-datepicker table {
  width: 100%;
  font-size: 0.6em;
  border-collapse: collapse;
  margin: 0 0 0.4em;
}
.ui-datepicker th {
  padding: 0.7em 0.3em;
  text-align: center;

  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: 0.2em;
  text-align: center;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: 0.7em 0 0 0;
  padding: 0 0.2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: 0.5em 0.2em 0.4em;
  cursor: pointer;
  padding: 0.2em 0.6em 0.3em 0.6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}

/* Component containers
----------------------------------*/
.ui-widget {
  font-size: 1.1em;
}
.ui-widget .ui-widget {
  font-size: 5em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 1em;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  color: #999999; /* Days Letter Color */
}
.ui-widget-content a {
  color: #0d6efd;
}
.ui-widget-header {
  border-bottom: 1px solid #c5c5c5;
  color: #212020;
  font-weight: bold;
}
.ui-widget-header a {
  color: #0d6efd;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  border: 1px solid #cccccc;
  background: #f6f6f6;
  color: #300808;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
  color: #999999;
  text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  background: #1ca3f4;
  color: #fff;
  text-align: center;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
  color: #0d6efd;
  text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  border: 1px solid #0d6efd;
  color: #0d6efd;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
  color: #0d6efd;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-prev:hover {
  background: transparent url(../img/datepickerArrow.png) top no-repeat;
}
.ui-datepicker .ui-datepicker-next {
  background: transparent url(../img/datepickerArrow.png) bottom no-repeat;
}

/* jquery datepicker custom style ends */

/* search flight section ends  */

/* available tickets starts  */
/* slider css starts */
.slider {
  width: 100% !important;
  position: relative;
}

.available-ticket-wrapper,
.available-flights-wrapper {
  width: 1280px;
  margin-top: 50px;
  border-radius: 15px;
  margin-bottom: 3rem;
  overflow: hidden;
}
.container {
  width: 1200px;
  padding: 0;
}
.cell2 {
  width: 5%;
  height: 100px;
  overflow: hidden;
  text-align: center;
  border-left: 1px solid #cdcecf;
}

.cell2-item {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-align: left;
}

.cell2:hover {
  background-color: #333;
  color: #fff;
}
.flights img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 15px;
  object-fit: cover;
}
.flights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.flights .cell2-item {
  padding: 0 0 0 10px;
  line-height: 10px;
}
/* slick slider button custom CSS  */
.prev-arrow {
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url("/images/right-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 35px;
  right: -30px;
  overflow: visible;
  border: none;
  padding: 0;
}
.next-arrow {
  height: 30px;
  width: 30px;
  background-color: transparent;
  background-image: url("/images/left-arrow.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 35px;
  left: -30px;
  overflow: visible;
  border: none;
  padding: 0;
}
/* slider css ends */
/* available tickets ends  */

/* flights results section starts */

.custom-alert {
  margin-top: 10px;
  background-color: transparent;
  display: flex;
}
.custom-alert img {
  width: 2%;
  margin-right: 8px;
  transform: rotate(178deg);
  filter: invert(60%) sepia(17%) saturate(6004%) hue-rotate(320deg)
    brightness(107%) contrast(123%);
}

/* flights results section ends  */

/* Button group section starts  */
.custom-button {
  background-color: #3751ff;
  height: 50px;
  color: #f0f0f0;
  font-size: 18px;
}

.custom-button:first-child {
  width: 250px;
}

.custom-button:nth-child(2),
.custom-button:nth-child(3) {
  width: 120px;
  margin-left: 10px !important;
}
.custom-button:hover {
  color: white !important;
}
/* Flight details and Price details section starts */
.arrow-12 {
  width: 25%;
  margin-left: 5%;
}
.flight-details-wrapper {
  border: 10px 10px 0 0;
}
.flight-detail-item {
  display: flex;
}
.flight-detail-item img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px 20px;
}
.accordion-header {
  margin: 1rem 0;
}

.dased-border {
  border-top: 1px dashed #999;
}

.accordion-item {
  border: none;
}
.flight-detail-item-title {
  font-size: 22px !important;
  font-weight: 500;
}
.flight-detail-item-subtitle {
  font-size: 18px !important;
  font-weight: 600;
}

.custom-collapse-btn {
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  display: flex;
}
.custom-collapse-btn img {
  width: 20px;
  margin-left: 3px;
  filter: invert(22%) sepia(86%) saturate(3489%) hue-rotate(233deg)
    brightness(102%) contrast(101%);
}

.home-tab-title {
  color: #0d6efd;
  font-size: 20px !important;
  border-bottom: 2px solid #0d6efd;
}

/* Flight details and Price details section starts */
.nav {
  border: none;
  width: 70% !important;
  margin: 0 auto;
}
.tab-content-icon-wrapper {
  display: grid;
  grid-template-columns: 18% 18% 25% 25%;
  width: 80%;
  height: 40px;
  margin: 10px auto;
}

.tab-content-icon-item img {
  margin-right: 3%;
}

/* Fare summary section css starts */
.custom-home2-tab {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 70%;
  margin: 0 auto;
}
/* Fare summary section css ends */
.custom-home2-tab {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

/* Flight details and Price details section ends */

/* trangit time section  start */
.transit-section {
  position: absolute;
  width: 225px;
  height: 30px;
  left: 750px;
  top: 1684px;
  background: #e9e9e9;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3751ff;
}
/* trangit time section  ends */

/* Button group section ends */

/* pagination section starts  */
.custom-page-link {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-page-link:hover {
  background-color: #0d6efd;
  color: white;
}

/* pagination section ends  */

@media all and (max-width: 991px) {
  .page-container {
    grid-template-columns: 1fr;
  }
  .side-nav {
    width: 300px;
    position: absolute;
    background-color: rgba(245, 245, 245, 0.246);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: none;
    transition: all 300ms ease-in-out;
  }

  .side-nav-active {
    display: block;
    transition: all 300ms ease-in-out;
  }
}

/* package genetor */
.package-box {
  border: 1px solid #3751ff;
  border-radius: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}
.Description {
  width: 25%;
}
.Trxn {
  width: 15%;
}
.Expense {
  width: 15%;
}
.date {
  width: 15%;
}
.Deposite {
  width: 15%;
}
.Ballance {
  width: 15%;
}
.table-data {
  background-color: #3751ff;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: start;
}
.table-data2 {
  text-align: start;
}
.table-data2 div {
  border-right: 1px solid rgba(128, 128, 128, 0.295);
  padding: 8px;
}
.accounts-report {
  border-top: 1px solid black;
  padding: 3px;
}

/* visa invoice */
.buttons-design2 {
  border: #3751ff;
  background-color: #3751ff;
  border-radius: 20px;
  padding: 2px 15px 5px 15px;
  color: white;
}

.buttons-design {
  border: 2px solid #3751ff;
  border-radius: 20px;
  padding: 2px 15px 5px 15px;
}
.buttons-design:hover {
  background-color: #3751ff;
  color: white;
}

.buttons-design2:hover {
  color: black;
  background-color: white;
  border: 1px solid #3751ff;
}
.visa-heading {
  color: #3751ff;
}
.input-border {
  border-color: #3751ff !important;
  border: 1px solid #3751ff !important;
}
.from-box {
  width: 97% !important;
  border: 1px solid #f2f3f7 !important;
  background-color: #f2f3f7 !important;
  border-radius: 10px !important;
}

/* pdf style */
.paxName {
  width: 200px;
  border: 1px solid #3751ff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 6px;
  color: white;
  font-weight: bold;
  background-color: #3751ff;
  border-radius: 4px;
}
.img-style {
  margin-top: -50px !important;
}

.service {
  width: 280px;
  border: 1px solid #3751ff;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  text-align: start;
  padding-left: 15px;
  background: white;
}
.form-model {
  width: 90%;
  border: 1px solid #f2f3f7;
  background-color: #f2f3f7;
  border-radius: 10px;
}

.service-2 {
  width: 200px;
  border: 1px solid #3751ff;
  padding-top: 5px;
  padding-bottom: 6px;
  border-radius: 4px;
  text-align: start;
  padding-left: 15px;
  background: white;
}
.form-model2 {
  border: 1px solid #f2f3f7;
  background-color: #f2f3f7;
  border-radius: 10px;
}
.ul-list {
  list-style: none; /* Remove default bullets */
}

.ul-list li::before {
  content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #3751ff; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  font-size: 20px;
}

/* report invoice pdf */
.border-bottomColor {
  border-bottom: 1px solid #3751ff;
}

.middleborder {
  border-right: 1px solid #3751ff;
}

/* office expense */
.vendor-payable {
  border: 1px solid #3751ff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  background-color: #f0f0f0;
  color: #3751ff;
}
.vendor-payable2 {
  border: 1px solid #3751ff;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-weight: 500;
}

.active-btn {
  background-color: #3751ff !important;
  color: white !important;
}

/* prepaid */

/* package-quation */
.arrow {
  background-color: #3751ff;
  color: white;
}

.visit-btn {
  color: #3751ff;
}
.visit-btn:hover {
  color: whitesmoke;
  background-color: #3751ff;
}

.select-place-container {
  border: 0.5px solid rgba(128, 128, 128, 0.096);
  width: 650px;
  height: 120px;
  margin-top: 45px;
  border-radius: 15px;
  position: relative;
  padding: 15px;
  padding-top: 30px;
}

.select-place-container form {
  display: flex;
  position: relative;
}

.select-place-container form div {
  position: relative;
}

.select-place-container form div svg {
  position: absolute;
  top: -37px;
  left: 40px;
}

.search-btn {
  border: none;
  position: absolute;
  top: 100px;
  left: 40%;
  background-color: #3751ff;
  color: white;
  font-weight: bold;
  padding: 8px 25px;
  border-radius: 20px;
}

.select-input {
  border: 0.5px solid rgba(128, 128, 128, 0.096);
  color: #3751ff;
  background-color: whitesmoke;
  padding: 15px 0px 15px 30px;
  margin-left: 20px;
  border-radius: 30px;
  font-weight: bold;
  width: 175px;
  padding-left: 45px;
}

.swap-btn {
  width: 35px;
  height: 35px;
  border: none;
  background-color: #3751ff;
  border-radius: 50%;
  position: absolute;
  left: 187px;
  top: 10px;
}

@keyframes wayAnimation {
  from {
    background-color: #3752ff41;
  }
  to {
    background-color: #3751ff;
  }
}

/* package-quation create */

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 350px;
}

table tr th,
table tr td {
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  padding: 5px;
}
table tr th:first-child,
table tr td:first-child {
  border-left: 1px solid #bbb;
}
table tr th {
  border-top: 1px solid #bbb;
  text-align: left;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

/* visa information */
.location-container2 {
  width: 600px;
  min-height: 150px;
  border: 2px solid #3751ff;
  border-radius: 20px;
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}

.location2-input {
  width: 100%;
  border: 0.1px solid rgba(128, 128, 128, 0.109);

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 1px;
  font-weight: 600;
  color: gray;
  padding: 7px 15px;
  padding-left: 50px;
  border-radius: 10px;
}

.input-con {
  position: relative;
}
.input-con svg {
  color: gray;
  width: 25px;
  display: block;
  position: absolute;
  top: 7px;
  left: 12px;
}

/****** Air Ticket Search ******/
.ats-form {
  border: 1px solid #3751ff;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  margin-left: -12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 10px;
  font-weight: 500;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 50%;
}

.radio-container:hover input ~ .checkmark {
  background-color: #3751ff;
}

.radio-container input:checked ~ .checkmark {
  background-color: #3751ff;
}

.radio-container input:checked ~ .radio-container {
  color: #3751ff !important;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  background-color: white;
}

.ats-icon {
  color: #3751ff;
}

.ats-search-btn {
  background-color: #3751ff;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 23px;
  border-radius: 30px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
}

.ats-date-input {
  position: relative;
}

input[type="date"] {
  background-color: white !important;
}

.ats-input {
  border: none;
  width: 100% !important;
}

.ats-swap-btn {
  border: none;
  background-color: #3751ff;
  color: white;
  position: absolute;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* after search */
.carousel-cell {
  width: 100%;
  height: 100px;
  margin: 0 15px;
  overflow: hidden;
  border-radius: 8px;
}

.flickity-button-icon {
  fill: black !important;
}
.flickity-button {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  color: #333;
}

.flickity-page-dots {
  display: none;
}

.flickity-prev-next-button.previous {
  left: -23px;
}
.flickity-prev-next-button.next {
  right: -50px;
}
.panel,
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border: none;
}

.tab-btn {
  color: gray;
  font-size: 16px;
}

.tab-btn:hover {
  color: #3751ff;
  border: none;
}

.tab-row {
  padding: 0 5%;
}
.nav-item .active {
  color: #3751ff !important;
  border: none !important;
  border-bottom: 1px solid #3751ff !important;
}
.nav-item {
  border: none !important;
  border-bottom: 1px solid #999 !important;
}

.important {
  background-color: rgb(245, 210, 210);
}
.invoice-btn {
  background-color: #3751ff;
  border-radius: 5px;
}
.upper-accordian-text {
  color: #3751ff;
  font-size: 13px;
}
.upper-accordian-text2 {
  font-size: 13px;
}
.depart {
  background: rgba(128, 128, 128, 0.226);
  border-radius: 5px;
}
.strike {
  color: red;
}
.strike span {
  color: rgba(0, 0, 0, 0.337);
}
.create-btn {
  background-color: #3751ff;
}
.main-accordian {
  border-radius: 10px;
}
.acc-1st-col {
  border-right: 1px dashed gray;
}
.loc-btn {
  border: 1px solid;
  color: #3751ff;
  border-radius: 5px;
}
.acc-mid-border {
  width: 5px;
  height: 12px;
  border-left: 7px dotted #3751ff;
  margin-left: 100px;
}
.acc-mid-border2 {
  width: 3px;
  height: 50px;
  border-left: 3px dotted black;
  margin-left: 102px;
}
.tab-list {
  list-style: none !important;
}
.fare {
  border: 1px solid #3751ff;
}
.pax {
  color: #3751ff;
}
.time {
  border-bottom: 1px dashed gray;
}
.time-time {
  color: rgb(204, 200, 200);
}
.slider {
  width: 90%;
}
/* massage page */
.send-button {
  outline: none;
  border: none;
  background-color: white;
}

/* ffl page */
.ffl-btn {
  border: 1px solid rgba(128, 128, 128, 0.192);
  padding: 6px 25px;
  font-weight: 500;
  color: blue;
  border-radius: 20px;
}
.ffl-btn-active {
  background-color: blue;
  color: white;
  border-color: blue;
}

.ffl-form-container {
  width: 200px;
  border: 2px solid blue;
  border-radius: 7px;
  padding: 7px 20px;
  position: relative;
}
.ffl-form-container input {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  font-weight: 500;
}

.float-text {
  position: absolute;
  background-color: white;
  font-weight: 500;
  padding: 0px 7px;
  top: -13px;
  left: 15px;
}

/* @media only screen and (max-width: 992px) {
    .bottom-boxes3{
        width: 60%;
        margin: auto !important;
        margin-bottom: 15px !important;
    }
}

@media only screen and (max-width: 688px) {
    .boxes-4{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .bottom-boxes3{
        width: 80%;
        margin: auto !important;
        margin-bottom: 15px !important;
    }
} */
